@{
    ViewData["Title"] = "Index";
}

<form method="post" action="/Home/Perfil">
    <input type="text" name="nombreUsuario" placeholder="Usuario" required />
    <input type="password" name="contraseña" placeholder="Contraseña" required />
    <button type="submit">Iniciar Sesión</button>
</form>
