@{
    ViewData["Title"] = "Index";
}

<h1>TP  Grupos </h1>
<form method="post" action="/Home/Perfil">
    <input type="text" name="nombreUsuario" placeholder="Usuario" required />
    <input type="password" name="contrasena" placeholder="Contraseña" required />
    <button type="submit">Iniciar Sesión</button>
</form>

